<ul class="list-group">
    <li *ngFor=" let i of students" class="list-group-item" [ngClass]="{'list-group-item-danger': i.active,'list-group-item-success':i.avgMarks>90}">
        <div class="row">
            <div class="col-6">id: {{i.id}}, last name: {{i.name}}, famalyName: {{i.famalyName}}, address:
                {{i.adress}}, phone: {{i.pon}}
                avg marks: {{i.avgMarks}}
            </div>
           
            <div class="col-2">
                <button  class="btn btn-secondary" (click)="deleteStudent(i)">delete Student</button>
            </div>
            <div class="col-2">
                <button class="btn btn-secondary" (click)="showDetails(i)">updete details</button>
            </div>
        </div>  
    </li>
</ul>
<br>
<button class="btn btn-secondary" (click)="show()">add new student</button>
<app-student-from-md [student]="selectStudent" (saveNewStudent)="addStudent($event)"></app-student-from-md>

