<div class="card" *ngIf="student">
    <div class="card-body">
        <div class="form-group">
            <label for="name">student name</label>
            <input type="text" class="form-control" id="name" [value]="student.name">
            <label for="id">id</label>
            <input type="number" class="form-control" id="id" [value]="student.id">            
            <div *ngIf="student.active==false else ective">
               the departure date: {{student.departure_date}}
            </div> 
            <ng-template #ective>
                <label for="active">ective</label>
                <input  class="form-control" id="ective" [value]="student.active">
            </ng-template> 
            <label for="adress">adress</label>
            <input type="text" class="form-control" id="adress" [value]="student.adress">
            <label for="pon">pon</label>
            <input class="form-control" type="number" [value]="student.pon">
            <select class="form-control">
                <option [value]="1"> שנה א</option>
                <option [value]="2">שנה ב</option>
                <option [value]="3"> שנה ג</option>
            </select>
            <input type="radio" > ticnut<input>
            <br>
            <input type="radio" >teaching<input>
            <br>
            <input type="radio" >Tax_consultancy<input>
            
        </div>
    </div>
</div>
<button class="save" (click)="save()">save</button>
 